html{
    height:100%
}

body {
}

h1, h2, h3 {
  font-family: 'Domine', serif;
  font-weight: 500;
  color: #4f7687;
}

img {
  display:block;
  width: 100%;
}

/* main landing page grid */

.wrapper > div {
  background:#eff7f6;
  padding: 1em;
}

.wrapper p {
  display:none;
  color:#fff;

}

.logo h1 {
  font-size: 3em;
  padding-top: 2.2em;
  font-family: 'Domine', serif;
  font-weight: 600;
  color: #4f7687;
  margin:auto;
  /* text-align:end; */
}

.wrapper {
  background-image: url(./images/clouds-fog-forest.jpg);
  background-size: cover;
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap:0;
  height: 100vh;
}

/* .wrapper >div:nth-child(n+37):nth-child(-n+39){
  background: none;
} */
/* .wrapper >div:nth-child(n+26):nth-child(-n+28){
background: none;
} */

.wrapper >div:nth-child(27){
background: none;
border-left: .5em solid #eff7f6;
}
.wrapper >div:nth-child(n+28):nth-child(-n+29){
background: none;

}
.wrapper >div:nth-child(12){
background: none;
}
.wrapper >div:nth-child(36){
background: none;
border-top: .5em solid #eff7f6;
}
.wrapper >div:nth-child(35){
background: none;
border-top: .5em solid #eff7f6;
}
.wrapper >div:nth-child(42){
background: none;
border-top: .5em solid #eff7f6;
}



.wrapper >div:nth-child(21){
background: none;
border-bottom: .5em solid #eff7f6;
}
.wrapper >div:nth-child(25){
background: none;
}
.wrapper >div:nth-child(32){
background: none;
border-top: .5em solid #eff7f6;
}




.wrapper >div:nth-child(22){
background: none;
border-bottom: .5em solid #eff7f6;
}
.wrapper >div:nth-child(23){
background: none;
border-bottom: .5em solid #eff7f6;
border-left: .5em solid #eff7f6;
}
.wrapper >div:nth-child(24){
background: none;
}

.wrapper >div:nth-child(5){
background: none;
border-bottom: .5em solid #eff7f6;
}
.wrapper >div:nth-child(17){
background: none;
border-bottom: .5em solid #eff7f6;
}






.wrapper >div:nth-child(18){
grid-column: 4/7;
grid-row: 3/5;
}







/* gallery/ work section */

section.gallery{
  /* height: 100vh; */
  background-color: #fff;
}
.images-wrap{
  display:grid;
  grid-template-columns: 15% auto;
  padding-top:15vh;
  padding-bottom: 15vh;
}

.images-wrap h1 {
margin: auto;
writing-mode: vertical-rl;
transform: rotate(180deg);
text-align: center;
font-size: 3em;
font-family: 'Domine', serif;
font-weight:700;
}


.gallery-wrap {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row dense;
  grid-gap: .5em;
}

img.grid-item {
  display:block;
  width: 100%;
  object-fit: cover;
  height: 350px;
}

/* about section */
section.about {
  height: 100vh;
  background-color: #eff7f6;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 45% 15% auto ;
  padding-top:30vh;
  padding-left: 2em;
  padding-right: 2em;

}

div.about-wrapper h1{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  font-size: 3em;
  font-family: 'Domine', serif;
  font-weight:700;
  margin:auto;
}
.about-wrapper img {
max-width: 60%;

}

.about-bottom {
  grid-row: 2/3;
  grid-column: 1/3;
  background-color: #4f7687;
  border-top: .5em solid #eff7f6;
  color:#4f7687;
}



/* contact section */
section.contact {
  height: 100vh;
  background-color: #fff;
}

/* .saveContact {
  padding:2em;
} */


/* div.form-wrapper h1{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  font-size: 5em;
} */

div.contact-wrapper h1{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  font-size: 3em;
  font-family: 'Domine', serif;
  font-weight:700;
  margin:auto;
  /* justify-self:center; */
}

.contact-wrapper{
  display: grid;
  grid-template-columns: 15% 30% auto;
  grid-template-rows: 50vh;
  padding-top:15vh;
}

div.form-group.form-confirm {
  justify-self:center;
  padding-top: 4em;
}

.contact-bottom {
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: #4f7687;
  border-top: .5em solid #fff;
  color:#4f7687;






 /* .wrapper >div:nth-child(odd){
   background: #ddd;
 } */


/*

.one {
  background: blue;
}

.two {
  background-color: pink;
}

.three {
  background-color: green;
}

.four {
  background-color: orange;
} */
